# Private
*.env
private-*

# Go

## Binary
main

# Terraform

## Local state
*.tfstate
*.tfstate.*

## Variables
terraform.tfvars

## Locks for provider versions
.terraform.lock.hcl

## Working directory
.terraform

# Editors

## IntelliJ IDEA
.idea

## Visual Studio Code
.vscode

# OS

## macOS
.DS_Store
